{
  "presets": [
	["env", {
	  "targets": {
	    "browsers": ["last 2 versions", "Explorer 11"]
	  }
	}],
  "react", ["es2015"], "stage-0"],
  "plugins": [
    ["transform-decorators-legacy"],
    ["add-module-exports"],
  	"transform-class-properties",
    "syntax-decorators"
  ]
}
