section.footer {
  background: $darkBlue;
  border-top: .1rem solid $mediumGray;
   &>div {
     align-items: center;
     display: flex;
     padding: 0 12.6rem;
   }
}

section.footer {
  .top {
    border-bottom: .1rem solid $mediumGray;
    min-height: 8rem;
    @include breakpoint(900) {
      padding: 0 3rem;
    }
    &__logo {
      width: 13.5rem;
      @include breakpoint(900) {
        display: none;
      }
    }
    &__social {
      display: flex;
      margin-right: auto;
      padding-left: 3.4rem;
      @include breakpoint(900) {
        padding-left: 0;
      }
      a {
        align-items: center;
        border: .1rem solid white;
        border-radius: 2rem;
        display: flex;
        height: 3.8rem;
        justify-content: center;
        text-decoration: none;
        transition: background .2s ease-in-out;
        width: 3.8rem;
        .icon {
          color: white;
          font-size: 2rem;
        }
        &:hover {
          background: white;
          .icon {
            color: $darkBlue;
          }
        }
        &:not(:last-of-type) {
          margin-right: 1.6rem;
          @include breakpoint(sm) {
            margin-right: .5rem;
          }
        }
      }
    }
    &__go-up {
      a {
        align-items: center;
        color: white;
        display: flex;
        font-size: 1.6rem;
        font-weight: bold;
        text-decoration: none;
        @include breakpoint(900) {
          font-size: 0;
        }
      }
      i {
        align-items: center;
        border: .2rem solid white;
        border-radius: 2rem;
        display: flex;
        font-size: 2.5rem;
        height: 2.6rem;
        justify-content: center;
        margin-left: 1.4rem;
        transition: transform .2s ease-in-out;
        width: 2.6rem;
        @include breakpoint(900) {
          height: 3.8rem;
          width: 3.8rem;
        }
        &:hover {
          cursor: pointer;
          transform: scale(1.2);
        }
      }
    }
  }
}

section.footer {
  .middle {
    min-height: 24.8rem;
    @include breakpoint(900) {
      padding: 0 3rem;
    }
    &__links {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-right: auto;
      max-height: 18rem;
      a {
        color: $lightGray;
        font-size: 1.6rem;
        line-height: 4.4rem;
        margin-right: 4rem;
        text-decoration: none;
        text-transform: capitalize;
        transition: color .2s ease-in-out;
        @include breakpoint(sm) {
          line-height: 2.25rem;
        }
        &:hover {
          color: $gold;
        }
      }
    }
    &__ratings {
      align-items: center;
      display: flex;
      justify-content: center;
      @include breakpoint(900) {
        flex-direction: column;
        margin-bottom: 0 auto;
        padding: 42px 0;
      }
    }
    .pegi {
      margin-right: 2rem;
      @include breakpoint(900) {
        margin-right: 0;
      }
      &__image {
        @include breakpoint(900) {
          width: 65px;
          transform: translateX(9px);
        }
      }
    }
    .esrb {
        align-items: flex-start;
        color: white;
        display: flex;
        justify-content: center;
        position: relative;
        @include breakpoint(900) {
          position: relative;
          transform: translateX(8px);
        }
      &__image {
        @include breakpoint(900) {
          margin-top: 20px;
        }
      }
      &__details {
        margin: 0 0 0 1rem;
        padding: 0;
        @include breakpoint(900) {
          display: none;
        }
        li {
          font-size: 1rem;
          line-height: 2rem;
          list-style: none;
          &:after {
            display: none;
          }
        }
      }
      &__online {
        bottom: -3.2rem;
        font-size: 1rem;
        left: 0;
        position: absolute;
        @include breakpoint(900) {
          display: none;
        }
      }
    }
  }
}

section.footer {
  .bottom {
    background-color: white;
    min-height: 7.8rem;
    @include breakpoint(md) {
      align-items: flex-start;
      flex-direction: column;
      padding-bottom: 2rem;
    }
    @include breakpoint(900) {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 0 4rem 2rem 4rem;
    }
    .hirez {
      align-items: center;
      display: flex;
      justify-content: center;
      @include breakpoint(md) {
        margin-top: 2rem;
      }
      @include breakpoint(900) {
        flex-direction: column;
        margin-top: 20px;
      }
      &__logo {
        margin-right: 3rem;
        @include breakpoint(900) {
          margin-right: 0;
        }
      }
      &__links {
        display: flex;
        margin-right: auto;
        @include breakpoint(900) {
          margin: 20px 0;
        }
        @include breakpoint(sm) {
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
        }
        a {
          color: $gray;
          font-size: 1.4rem;
          text-decoration: none;
          @include breakpoint(sm) {
            line-height: 3rem;
          }
          &:hover {
            text-decoration: underline;
          }
          &:not(:last-of-type) {
            &:after {
              content: "|";
              display: inline-block;
              padding: 0 1.2rem;
              @include breakpoint(sm) {
                content: " ";
              }
            }
          }
        }
      }
    }
    &__copyright {
      color: $gray;
      font-size: 1.4rem;
      margin-left: auto;
      text-transform: none;
      @include breakpoint(md) {
        font-size: 1.4rem;
        margin-top: 20px;
      }
      @include breakpoint(900) {
        font-size: 1.4rem;
        margin: 10px 0 0;
        text-align: center;
      }
    }
  }
}
