.super-nav {
  background-color: rgba(5,17,30,0.8);
  border-bottom: 1px solid $lightGold;
  display: flex;
  height: 5rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  .nav {
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding: 0 1.5rem;
    position: relative;
    vertical-align: top;
    p {
      font-family: 'Roboto';
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 2px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      top: 50%;
      transform: translateY(-50%);
      transition: color 0.1s ease-in-out;
    }
    &:hover {
      p {
        color: $lightGold;
      }
    }
  }
  &__games-container {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    left: -1px;
    position: relative;
    top: 5rem;
    transform: translateY(-102%);
    transition: transform 0.1s ease-in-out;
    z-index: -1;
    .hotg {
      background-image: url(../assets/img/nav-logo-hotg.png);
    }
    .paladins {
      background-image: url(../assets/img/nav-logo-paladins.png);
    }
    .jpf {
      background-image: url(../assets/img/nav-logo-jpf.png);
    }
    .account {
      p {
        color: #fff !important;
      }
    }
    &:hover {
      display: block;
    }
  }
  .dropdown {
    background-color: $blue;
    background-position: 4rem;
    background-repeat: no-repeat;
    border-bottom: 1px solid $lightGold;
    border-right: 1px solid $gray;
  }
  &__games.nav {
    background-image: url(../assets/img/nav-logo-hirez.png);
    height: 5rem;
    padding: 0;
    width: 19rem;
    &:hover {
      .super-nav__games-container {
        transform: translateY(0);
      }
      &:after {
        transform: translateY(-50%) rotateZ(-180deg);
      }
    }
  }
  .dropdown-element {
    background-color: rgba(5,17,30,0.8);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 6.5rem;
    transition: background-color 0.1s ease-in-out;
    width: 19rem;
    &:not(:first-child) {
      border-top: 1px solid $gray;
    }
    &:hover {
      background-color: $blue;
    }
    p {
      &:hover {
        color: $lightGold;
      }
    }
  }
  &__game {

  }
  &__home.nav {
      background-image: url(../assets/img/nav-logo-small.png);
      display: none;
      min-width: 10rem;
      width: 15.5rem;
      &:hover {
        filter: brightness(1.2);
      }
  }
  &__sublinks {
    display: flex;
    height: 100%;
    width: 100%;
    .super-nav__play.nav {
      display: none;
    }
  }
  &__links-container {
    display: flex;
    height: 5rem;
    width: 100%;
    .super-nav__home.nav {
      background-image: url(../assets/img/nav-logo-small.png);
      display: inline-block;
      width: 15.5rem;
    }
  }
  &__items {
    // margin-right: auto;
  }
  &__languages.nav {
    background-color: $darkBlue;
    margin-left: auto;
    padding: 0;
    text-align: center;
    width: 5rem;
    p {
      display: none;
    }

    i {
      color: #fff;
      font-size: 2.5rem;
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .super-nav__language-container p {
      display: block;
    }
    &:after {
      display: none;
      right: 3rem;
    }
    &:hover {
      p {
        color: #fff;
      }
      .super-nav__language-container {
        display: inline-block;
        &:hover {
          display: inline-block;
        }
      }
      &:after {
        transform: translateY(-50%) rotateZ(0deg);
      }
    }
  }
  &__language-container {
    display: none;
    right: 0;
    position: absolute;
    top: 5rem;
    .dropdown-element {
      height: 4.5rem;
      &.back {
      	display: none;
      	position: absolute;
      	&:after {
      		transform: translateY(-50%) rotateZ(90deg);
      	}
      	@include breakpoint(md_down) {
      		display: block;
      	}
      }
    }
  }
  &__language {
    &:hover {
      p {
        color: #fff;
      }
    }
  }
  &__play.nav {
    background: linear-gradient(to bottom,#ada176 0, #ada176 50%, #ada176 50%, #9f9160 50%, #9f9160 100%);
    height: calc(100% - 1px);
    margin-left: auto;
    overflow: hidden;
    width: 16rem;
    transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
    &:after {
      background: #fff;
      content: "";
      height: 155px;
      left: -75px;
      opacity: 0.4;
      position: absolute;
      top: -50px;
      transform: rotate(15deg);
      transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
    }
    &:hover {
      p {
        color: #fff;
      }
      &:after {
        left: 120%;
        transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
  .super-nav__container {
    display: flex;
    height: 5rem;
    width: 100%;
  }
  .burger-container {
    background-color: $darkBlue;
    border-bottom: 1px solid $lightGold;
    display: none;
    height: 100%;
    padding-left: 1rem;
    position: relative;
    z-index: 1;
  }
  .burger-icon {
    background-color: $darkBlue;
    cursor: pointer;
    font-size: 10px;
    height: 3.2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 3.2em;
  }
  .burger-icon-wing {
    background-color: #fff;
    height: 0.2em;
    position: absolute;
    transition: transform 0.1s linear;
    width: 1.1em;
    
    &--m {
      left: 0.5em;
      margin-top: -0.1em;
      top: 50%;
      transform-origin: 1.1em 0.1em;
      width: 2.2em;
    }

    &--tl {
      left: 0.5em;
      top: 0.8em;
      transform-origin: 0.4em 0.1em;
    }
    &--tr {
      right: 0.5em;
      top: 0.8em;
      transform-origin: 0.7em 0.1em;
        }
    &--br {
      bottom: 0.8em;
      right: 0.5em;
      transform-origin: 0.7em 0.1em;
    }
    &--bl {
      bottom: 0.8em;
      left: 0.5em;
      transform-origin: 0.4em 0.1em;
    }
  }
  .burger-icon.active {
    .burger-icon-wing {
      &--m {
        transform: scale(0, 1);
      }
      &--tl {
        transform: rotate(45deg) translate(0.3em, 0);
      }
      &--tr {
        transform: rotate(-45deg) translate(-0.3em, 0);
      }
      &--br {
        transform: rotate(45deg) translate(-0.3em, 0);
      }
      &--bl {
        transform: rotate(-45deg) translate(0.3em, 0);
      }
    }
  }
  @media screen and (max-width: 1199px) {
    .super-nav__container {
      margin: 0;
    }    
    .burger-container {
      display: inline-block;
    }
    .super-nav__home.nav {
      background-color: $darkBlue;
      border-bottom: 1px solid $lightGold;
      display: inline-block;
    }
    .super-nav__sublinks {
      background-color: rgba(5,17,30,0.8);
      flex-direction: column;
      left: -1px;
      position: relative;
      transition: transform 0.2s ease-in-out;
      &.language-active {
      	transform: translateX(-25rem);
      }

      .nav {
        background-color: rgba(5,17,30,0.8);
      }
      &.active {
        border-top: 1px solid $gray;
        transform: translateY(24.3rem);
        &.language-active {
	        transform: translateX(-100%);
        }
      }
    }
    &__links-container {
      display: flex;
      flex-direction: column;
      height: auto;
      left: 0;
      position: absolute;
      top: 5rem;
      transform: translateX(-25rem);
      transition: transform 0.2s ease-in-out;
      width: 19.7rem;
      .nav {
        width: 100%;
      }
      .super-nav__game {
        width: 100%;
      }
      .super-nav__games.nav {
        background-color: $darkBlue;
        .super-nav__games-container {
          transform: translateY(-25rem);
        }
        &:hover {
          &:after {
            transform: translateY(-50%) rotateZ(0deg);
          }
        }
        &.active {
          .super-nav__games-container {
            transform: translateY(0);
          }
          &:after {
            transform: translateY(-50%) rotateZ(-180deg);
          }
        }
      }
      .super-nav__home.nav {
        display: none;
      }
      .super-nav__languages {
      	position: static;
      }
      .super-nav__language-container {
        display: inline-block;
        position: absolute;
        top: 0;
        transform: translateX(-20rem);
        transition: transform 0.2s ease-in-out;
        &.language-active {
        	transform: translateX(24.5rem);
        }
      }
      .super-nav__languages.nav {
        border-right: none;
        i {
          display: none;
        }
        &:after {
          display: inline-block;
        }
        p {
          display: block;
        }
        .dropdown-element {
          background-color: rgba(42, 42, 42, 0.8);
          cursor: pointer;
          height: 3.5rem;
          &:hover {
            background-color: rgba(42, 42, 42, 1);
          }
        }
        &:after {
        	left: 6rem;
        	position: relative;
        	top: 1rem;
          transform: translateY(-50%) rotateZ(90deg);
        }
        &:hover {
          &:after {
            transform: translateY(-50%) rotateZ(90deg);
          }
        }
      }
      &.active {
        transform: translateX(0);
      }
    }
    .nav {
      display: block;
      height: 5rem;
      p {
        margin: 0;
      }
    }
  }
  @media screen and (max-width: 599px) {
		.super-nav__sublinks .nav{
			height: 4.5rem;
  	}
    .super-nav__play.nav {
      display: none;
    }
    .super-nav__sublinks {
      .super-nav__play.nav {
        display: block;
        order: -1;
        overflow: visible;
        &:after {
          content: none;
        }
      }
    }
  }
}
