a {
	color: #d4b300 !important;

	&:visited {
		color: #d4b300 !important;
		;
	}
	&:hover,
	&:focus,
	&:active {
		color: #d4b300 !important;
		;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
