.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

	.page-template,
	.page-template-default {
		background: black;
		color: white;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.single-post {
	background: black;
	color: white;
	.center-wrapper {
		margin: 0 auto;
		width: 1200px;
		.post-imgContainer {
			text-align: center;
		}
		.entry-content {
			a {
				color: white !important;
			}
		}
	}
}
.header {
	font-family: 'New Rocker', sans-serif;
	height: 300px;
	border-bottom: 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 44px;
	margin-bottom: 10rem;
}
.category {
	width: 1200px;
	margin: 0 auto;
	li {
		list-style-type: none;
		text-align: center;
	}
	img {
		border: 1px solid white;
		width: 50%;
	}
	p {
		width: 600px;
		text-align: justify;
		margin: 0 auto 30px;
	}
}
