.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-template {
	background: black;
	color: white;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.single-post {
	background: black;
	color: white;
	.center-wrapper {
		margin: 0 auto;
		width: 1200px;
		.post-imgContainer {
			text-align: center;
		}
		.entry-content {
			a {
				color: white !important;
			}
		}
	}
}
